.ui-body-c, .ui-title, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    font-family: "Segoe UI", Verdana, Helvetica, Arial, Sans-Serif;
}

.ui-header .ui-title {
    font-size: 24px;
}

.ui-li-heading, .ui-btn-inner, .ui-li-divider, .ui-li-static {
    font-size: 20px;
}

.ui-li-desc {
    font-size: 16px;
}

.hidden {
    display: none;
}

.notruncate {
    white-space: normal;
}

pre code.csharp {
    border: 1px solid;
    max-height: 600px;
    padding: 5px;
    display: block;
}

.csharp {
    font-family: Consolas, monospace;
    padding: 1px 5px 1px 5px;
    background-color: #eeeeee;
}

.csharp .comment {
    color: green;
}

.csharp .keyword {
    color: blue;
}

.csharp .string {
    color: #A31515;
}

.csharp .type {
    color: #2B91AF;
}

.csharp .highlight {
    background-color: yellow;
}
