<div data-role="page" id="index" data-title="@ViewBag.Title">
    <div data-role="header" data-theme="d">
        <h1>@ViewBag.Title</h1>
    </div>
	<div data-role="content">
        <div>
            <div style="float:left;"><img src="Content/images/blank.gif" width="128" height="128" data-src="Content/images/avatar.128.jpg" /></div>
            <div style="float:right;"><img src="Content/images/blank.gif" width="128" height="128" data-src="Content/images/trythis.128.jpg" /></div>
            <div style="text-align:center;">
                <p>I am Stephen Cleary, a Christian, husband, father, and programmer living in Northern Michigan.</p>
                <p>This site is a collection of my projects and articles; I hope you find them useful!</p>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div data-role="controlgroup">
		    <a href="http://blog.stephencleary.com/" data-role="button">Blog</a>
		    <a href="#libraries" data-role="button">Open-source libraries and projects</a>
            <a href="#applications" data-role="button">Online web applications</a>
            <a href="#publications" data-role="button">Publications</a>
            <a href="#accounts" data-role="button">Online accounts</a>
            <a data-role="button" data-bind="attr: {href: email}">Email</a>
            <!-- TODO: Presentations -->
        </div>
	</div>
</div>
