<div data-role="page" id="accounts" data-title="Online accounts">
    <div data-role="header" data-theme="d">
		<a href="#index" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
        <h2>Online accounts</h2>
    </div>
	<div data-role="content">
        <div data-role="controlgroup">
            <a href="http://stackoverflow.com/users/263693/stephen-cleary" data-role="button">Stack Overflow</a>
            <a href="http://social.msdn.microsoft.com/Forums/en-US/user/threads?user=Stephen%20Cleary" data-role="button">MSDN Forums</a>
            <a href="https://github.com/StephenCleary" data-role="button">GitHub</a>
            <a href="http://www.codeplex.com/site/users/view/StephenCleary" data-role="button">CodePlex</a>
            <a href="https://twitter.com/aSteveCleary" data-role="button">Twitter</a>
        </div>
	</div>
</div>
