@using StephenCleary.Helpers;

<div data-role="page" id="applications" data-title="Applications">
    <div data-role="header" data-theme="d">
		<a href="#index" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
        <h2>Online applications</h2>
    </div>
	<div data-role="content">
        <ul data-role="listview">
	        <li><a href="#applications_CodeFormatter">
                <h2>Yet Another C# Code Formatter</h2>
                <p>Formats C# code as HTML. My formatter accepts a (limited) set of commands, as well.</p>
	        </a></li>
	        <li><a href="#applications_GuidDecoder">
                <h2>Guid Decoder</h2>
                <p>Breaks down any GUID/UUID into its components.</p>
            </a></li>
        </ul>
	</div>
</div>
