@using StephenCleary.Helpers;

@{
    ViewBag.Title = "Stephen Cleary \"dot com\"";
}

<div id="main" class="hidden">

@this.RenderPages("Pages")

</div>

@section scripts {

<script type="text/javascript">
$(document).bind("mobileinit", function () {
    $.mobile.defaultPageTransition = 'none';

    $('img').each(function () {
        $(this).attr('src', $(this).attr('data-src'));
    });
    
    var x = 'an';
    var y = 'steph';
    $('#email').attr({ href: 'mailto:' + y + 'en' + x + 'dm' + x + 'dy@@' + 'gma' + 'il.' + 'com' });

    $('#main').removeClass('hidden');
});
</script>

}