@using StephenCleary.Helpers;

@{
    ViewBag.Title = "Stephen Cleary \"dot com\"";
}

<div id="main" class="hidden">

@this.RenderPages("Pages")

</div>

@section scripts {

<script type="text/javascript">
$(document).bind("mobileinit", function () {
    $.mobile.defaultPageTransition = 'none';
});
</script>

}