@using StephenCleary.Helpers;

<div data-role="page" id="libraries_ConnectedProperties" data-title="Connected Properties">
    <div data-role="header" data-theme="d">
		<a href="#index" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
        <h2>Connected Properties</h2>
    </div>
	<div data-role="content">
        <div>
            <p>Connected Properties allow you to dynamically attach properties to any reference type that uses reference equality.</p>
            <p>The connected properties have lifetimes exactly like regular properties (even if they reference their carrier object). A connected property is a true <a href="http://en.wikipedia.org/wiki/Ephemeron">ephemeron</a>.</p>
@Html.CSharp(@"
// Use the Connected Properties library.
using Nito.ConnectedProperties;
using Nito.ConnectedProperties.Named;

class `$Program`$
{
  // Display the Name of any object passed into this method.
  public static void DisplayName(object obj)
  {
    // Look up a connected property called ""Name"".
    `!var nameProperty = obj.GetConnectedProperty(""Name"");`!
    `$Console`$.WriteLine(""Name: "" + `!nameProperty.Get()`!);
  }

  static void Main()
  {
    // Create an object to name.
    var obj = new object();

    // I dub this object ""Bob"".
    `!var nameProperty = obj.GetConnectedProperty(""Name"");`!
    `!nameProperty.Set(""Bob"");`!

    // Pass the object to the DisplayName method, which is able to retrieve the connected property.
    DisplayName(obj);
  }
}")
            <p>Note: You should not develop a design using Connected Properties. The Connected Properties library should only be used to work around limitations in third-party code.</p>
        </div>
        <div style="text-align:center">
            <img src="Content/images/blank.gif" width="128" height="128" data-src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=connectedproperties&DownloadId=483866" />
        </div>
        <div data-role="controlgroup">
            <a href="http://connectedproperties.codeplex.com/" data-role="button">Project page (CodePlex)</a>
            <a href="http://nuget.org/packages/ConnectedProperties" data-role="button">NuGet package</a>
            <a href="http://connectedproperties.codeplex.com/documentation" data-role="button">Documentation (CodePlex)</a>
            <a href="http://connectedproperties.codeplex.com/discussions" data-role="button">Forum (CodePlex)</a>
            <a href="http://connectedproperties.codeplex.com/workitem/list/basic" data-role="button">Issue tracker (CodePlex)</a>
            <a href="http://connectedproperties.codeplex.com/SourceControl/BrowseLatest" data-role="button">Browse source code (CodePlex)</a>
        </div>
	</div>
</div>
